name: Build GBC docker image

on:
  push:

env:
  DOCKER_REGISTRY: ghcr.io
  DOCKER_USERNAME: ${{ github.actor }}
  DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
  IMAGE_NAME: ghcr.io/gnosischain/gbc-nimbus

jobs:
  build-amd64:
    name: Linux AMD64 release asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          repository: status-im/nimbus-eth2
          ref: e009728858272c44a80c4e77c4aec63eb538b11f
      - name: Checkout configs
        uses: actions/checkout@v2
        with:
          path: launch
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.IMAGE_NAME }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
      - name: Build binary
        uses: docker/build-push-action@v2
        with:
          push: false
          tags: dist:latest
          file: launch/build/docker/dist/Dockerfile.amd64
          context: launch/build/docker/dist
          outputs: type=docker
          build-args: |
            USER_ID=1000
            GROUP_ID=1000
      - name: Build dist
        run: docker run --privileged -u 0:0 --rm -v ${{ github.workspace }}:/home/user/nimbus-eth2 dist:latest
      - name: Test binary
        run: ./build/nimbus_beacon_node_gnosis --help
      - name: Prepare docker builder
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: launch/build/docker/dist/binaries/Dockerfile.amd64
          context: .
